.section {
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 35px;
  padding: 0.5rem 1rem;
  margin: 15px;
  align-self: center;
  
}

.title {
  margin-bottom: 0.5rem;
  font-size: 3rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 200;
  text-align: center;
  color: 'white';
  align-self: center
}

.paragraph {
  margin: 1rem 0;
  font-size: 1.35rem;
  line-height: 1.1;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 100;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .section {
    height: 330px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 35px;
    padding: 0.5rem 1rem;
    margin: 15px;
    align-self: center;
  }
}


