.footer {
  background: #000000;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.links {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: row;
  margin: 5px;
}

.social-logos {
  margin: 15px;
}

.social-section {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  display: flex;
  width: 100%;
  left: 0
}

@media screen and (max-width: 960px) {
  .footer {
    height: 200px;
  }

  .links {
    flex-direction: column;
    margin-left: 2rem;
  }
}