.title {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 100;
}

.label {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 100;
}

.input-container {
  border: transparent;
}

.form {

}


