.form-container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-width: 2px;
  border-color: gray;
  text-shadow: white;
  align-self: center;
}

.title {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 100;
}

.label {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 100;
}

.input-container {
  border: transparent;
  background-color: transparent;
  border-bottom: white;
  border-bottom-width: thick;
  width: 100%;
}


